name: Ci pipeline
on:
  workflow_dispatch:
jobs:
  new:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v6
      - name: installing dependencies
        run: npm install
